<div class="page-container__content h-full">
    <p-table #dt [loading]="loading()" [pageLinks]="2" [paginator]="true" [rows]="10"
             [value]="shootings()" breakpoint="400px" dataKey="id"
             responsiveLayout="scroll" scrollHeight="flex"
             styleClass="p-datatable-m">
        <ng-template pTemplate="header">
            <tr>
                <th i18n>Date</th>
                <th i18n>Distance</th>
                <th i18n>Target</th>
                <th i18n>Score</th>
                <th i18n>Group</th>
                <th i18n>Arrows</th>
                <th>
                </th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter field="name" matchMode="contains">
                        <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                            <input (ngModelChange)="filter($event)" [ngModel]="value" pInputText/>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="distance" matchMode="contains">
                        <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                            <input (ngModelChange)="filter($event)" [ngModel]="value" pInputText/>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="target" matchMode="contains">
                        <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                            <input (ngModelChange)="filter($event)" [ngModel]="value" pInputText/>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="score" matchMode="contains">
                        <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                            <input (ngModelChange)="filter($event)" [ngModel]="value" pInputText/>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="groupingScore" matchMode="contains">
                        <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                            <input (ngModelChange)="filter($event)" [ngModel]="value" pInputText/>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="arrows" matchMode="contains">
                        <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                            <input (ngModelChange)="filter($event)" [ngModel]="value" pInputText/>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <a [routerLink]="['/', 'shooting']"
                       class="p-button-rounded p-button-success p-button-text"
                       icon="pi pi-plus"
                       pButton
                       pRipple></a>
                </th>
            </tr>
        </ng-template>
        <ng-template let-shooting pTemplate="body">
            <tr>
                <td>
                    {{toShootingModel(shooting).name}}
                </td>
                <td>
                    {{toShootingModel(shooting).distance}}
                </td>
                <td>
                    {{toShootingModel(shooting).target}}
                </td>
                <td>
                    {{toShootingModel(shooting).score}}
                </td>
                <td>
                    {{toShootingModel(shooting).groupingScore}}
                </td>
                <td>
                    {{toShootingModel(shooting).arrows.length}}
                </td>
                <td class="align-right">
                    <a [routerLink]="['/', 'shooting', shooting.id]"
                       class="p-button-rounded p-button-success p-button-text"
                       icon="pi pi-pencil"
                       pButton
                       pRipple></a>
                    <p-button (onClick)="remove(shooting)"
                              icon="pi pi-trash"
                              styleClass="p-button-rounded p-button-danger p-button-text"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4" i18n>No shooting found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-confirmDialog #cd header="Confirmation" i18n-header icon="pi pi-exclamation-triangle" key="shooting">
    <p-footer>
        <button (click)="cd.reject()" i18n-label icon="pi pi-times" label="No" pButton
                pRipple
                type="button"></button>
        <button (click)="cd.accept()" class="p-button-danger" i18n-label icon="pi pi-check" label="Yes" pButton
                pRipple
                type="button"></button>
    </p-footer>
</p-confirmDialog>
