<div class="page-container__content h-full">
    <p-table #dt (onFilter)="onFilter($event)" (selectionChange)="onSelection($event)"
             (sortFunction)="customSort($event)"
             [customSort]="true" [loading]="loading()"
             [metaKeySelection]="true" [pageLinks]="2" [paginator]="filteredShootings().length > 0"
             [rows]="50" [scrollable]="true"
             [selection]="selectedShootings()" [value]="shootings()"
             breakpoint="400px" dataKey="id" responsiveLayout="scroll"
             scrollHeight="flex" selectionMode="multiple"
             sortField="dateSeconds" styleClass="p-datatable-m">
        <ng-template pTemplate="header">
            <tr>
                <th pFrozenColumn style="width: 10%;max-width:200px;"></th>
                <th pFrozenColumn pSortableColumn="dateSeconds" style="min-width:100px">
                    <span i18n>Date</span>
                    <p-sortIcon field="dateSeconds"></p-sortIcon>
                </th>
                <th pSortableColumn="distance" style="min-width:130px">
                    <span i18n>Distance</span>
                    <p-sortIcon field="distance"></p-sortIcon>
                </th>
                <th pSortableColumn="score" style="min-width:110px">
                    <span i18n>Score</span>
                    <p-sortIcon field="score"></p-sortIcon>
                </th>
                <th pSortableColumn="groupingScore" style="min-width:110px">
                    <span i18n>Group</span>
                    <p-sortIcon field="groupingScore"></p-sortIcon>
                </th>
                <th pSortableColumn="arrowCount" style="min-width:120px">
                    <span i18n>Arrows</span>
                    <p-sortIcon field="arrowCount"></p-sortIcon>
                </th>
                <th pSortableColumn="target" style="min-width:130px">
                    <span i18n>Target</span>
                    <p-sortIcon field="target"></p-sortIcon>
                </th>
            </tr>
            <tr>
                <th pFrozenColumn>
                    <a [routerLink]="['/', 'shooting']"
                       class="p-button-rounded p-button-success p-button-text"
                       icon="pi pi-plus"
                       pButton
                       pRipple></a>
                </th>
                <th pFrozenColumn>
                    <p-columnFilter [showMenu]="false" field="name" matchMode="contains">
                        <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                            <input (ngModelChange)="filter($event)" [ngModel]="value" pInputText/>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter [showMenu]="false" field="distance" matchMode="equals"
                                    type="number">
                        <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                            <p-inputNumber (ngModelChange)="filter($event)" [min]="0" [ngModel]="value"></p-inputNumber>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter [showMenu]="false" field="score" matchMode="equals"
                                    type="number">
                        <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                            <p-inputNumber (ngModelChange)="filter($event)" [min]="0" [ngModel]="value"></p-inputNumber>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter [showMenu]="false" field="groupingScore" matchMode="equals"
                                    type="number">
                        <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                            <p-inputNumber (ngModelChange)="filter($event)" [max]="100" [min]="0"
                                           [ngModel]="value"></p-inputNumber>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter [showMenu]="false" field="arrowCount" matchMode="equals"
                                    type="number">
                        <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                            <p-inputNumber (ngModelChange)="filter($event)" [min]="1" [ngModel]="value"></p-inputNumber>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter [showMenu]="false" field="target" matchMode="equals"
                                    type="number">
                        <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                            <p-dropdown (onChange)="filter($event.value)" [ngModel]="value" [options]="targets"
                                        [showClear]="false" placeholder="Any">
                                <ng-template let-option pTemplate="item">
                                    {{ option }}
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template let-shooting pTemplate="body">
            <tr [pSelectableRow]="shooting">
                <td class="align-right" pFrozenColumn>
                    <a [routerLink]="['/', 'shooting', shooting.id]"
                       class="p-button-rounded p-button-success p-button-text"
                       icon="pi pi-pencil"
                       pButton
                       pRipple></a>
                    <p-button (onClick)="remove(shooting)"
                              icon="pi pi-trash"
                              styleClass="p-button-rounded p-button-danger p-button-text"></p-button>
                </td>
                <td pFrozenColumn>
                    {{toShootingModel(shooting).name}}
                </td>
                <td>
                    {{toShootingModel(shooting).distance}}
                </td>
                <td>
                    {{toShootingModel(shooting).score}}
                </td>
                <td>
                    {{toShootingModel(shooting).groupingScore}}
                </td>
                <td>
                    {{toShootingModel(shooting).arrowCount}}
                </td>
                <td>
                    {{toShootingModel(shooting).target}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7" i18n>No shooting found.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr *ngIf="filteredShootings().length > 0">
                <td pFrozenColumn>

                </td>
                <td pFrozenColumn>

                </td>
                <td>

                </td>
                <td>
                    {{ totalScore() }}
                </td>
                <td>

                </td>
                <td>
                    {{ totalArrows() }}
                </td>
                <td>

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <a [routerLink]="['/', 'shooting']"
               class="p-button-rounded p-button-success p-button-text"
               icon="pi pi-plus"
               pButton
               pRipple></a>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <div *ngIf="filteredShootings().length > 0">
                {{ filteredShootings().length }} <span i18n>shootings</span>
            </div>
        </ng-template>
    </p-table>
</div>
