@import "/src/assets/styles/variables";

.page-container__content {
  padding: 20px;
  height: 100%;

  ::ng-deep {
    .p-tabview-panels, .p-tabview-panel {
      height: 100%;
      display: flex;
    }
  }
}