<blockable #lockable class="page-container__content flex flex-column align-items-stretch gap-1">
    <p-tabView (activeIndexChange)="activeTypeIndex.set($event)" class="flex-1 h-full"
               styleClass="flex flex-column h-full">
        <p-tabPanel class="flex-1 h-full" header="Score">
            <div *ngIf="activeTypeIndex() === 0"
                 [options]="chartOptions['score']"
                 class="flex-1 h-full" echarts theme="macarons"></div>
        </p-tabPanel>
        <p-tabPanel header="Group">
            <div *ngIf="activeTypeIndex() === 1"
                 [options]="chartOptions['group']"
                 class="flex-1 h-full" echarts></div>
        </p-tabPanel>
        <p-tabPanel header="Arrow">
            <div *ngIf="activeTypeIndex() === 2"
                 [options]="chartOptions['arrow']" class="flex-1 h-full" echarts></div>
        </p-tabPanel>
    </p-tabView>
</blockable>

<p-blockUI [blocked]="loading()" [target]="lockable">
    <p-progressSpinner></p-progressSpinner>
</p-blockUI>