@import "/src/assets/styles/variables";

.page-container__content {
  padding: 0;
  height: 100%;

  ::ng-deep {
    .p-tabview-panels, .p-tabview-panel {
      height: 100%;
    }

    .ui-tabs.ui-tabs-left > .ui-tabs-nav {
      width: 33%;
    }
  }
}