<blockable #lockable class="page-container__content">
    <div #page [class.landscape]="isLandscape" id="page">
        <div #map [style.padding]="margin" id="map">
            <img #target (mousedown)="$event.preventDefault()" alt="" id="target"
                 onContextMenu="return false;"
                 src=""/>
            <ng-template #container></ng-template>
        </div>
    </div>
    <!--*div class="actions flex align-items-center justify-content-end gap-4">
        <p-button (onClick)="clearArrows()" *ngIf="deleteModeControl.value" icon="fa fa-trash"
                  styleClass="p-button-rounded p-button-danger p-button-text"></p-button>
        <p-toggleButton [formControl]="deleteModeControl" offIcon="fa fa-plus-circle" onIcon="fa fa-minus-circle"
                        styleClass="p-button-rounded"></p-toggleButton>
    </div>-->
</blockable>
<p-blockUI [blocked]="shootingLoading" [target]="lockable">
    <p-progressSpinner></p-progressSpinner>
</p-blockUI>
<p-confirmDialog #cd header="Confirmation" i18n-header icon="pi pi-exclamation-triangle" key="shooting">
    <p-footer>
        <button (click)="cd.reject()" i18n-label icon="pi pi-times" label="No" pButton
                pRipple
                type="button"></button>
        <button (click)="cd.accept()" class="p-button-danger" i18n-label icon="pi pi-check" label="Yes" pButton
                pRipple
                type="button"></button>
    </p-footer>
</p-confirmDialog>