/* You can add global styles to this file, and also import other style files */
@import "assets/styles/reset";
@import 'primeng/resources/primeng.min.css';
@import 'primeng/resources/themes/lara-dark-blue/theme.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.min.css';
@import "assets/styles/variables";

body, .page-conainer {
  overscroll-behavior: none
}

.page-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__content {
    overflow: auto;
    max-height: 100%;
    width: 100%;
    padding: 20px;

    @media screen and (max-width: $mobile-portrait-breakpoint-width) {
      padding: 10px;
    }

    &__center {
      margin: auto;
      max-width: $page-width;
    }
  }
}

.shadow {
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%),
  0 1px 1px 0 rgb(0 0 0 / 14%),
  0 1px 3px 0 rgb(0 0 0 / 12%);
}


form {
  .p-card {
    .p-card-body {

      .p-card-content {
        padding-top: 1rem !important;

        h5 {
          margin: 2rem 0 1rem;
          font-weight: bold;
        }

        .field-row {
          .inline-label {
            display: block;

            padding: 0.75rem;
            font-size: 12px;
            color: rgba(255, 255, 255, 0.6);
          }

          .p-error {
            padding: 0.5rem 1rem;
            font-size: smaller;
          }
        }

        .field-float {
          margin-top: 2rem;
        }
      }
    }
  }
}

.float-button-left, .float-button-right {
  position: absolute;
  z-index: 100;
  bottom: 20px;
}

.float-button-left {
  left: 20px;
}

.float-button-right {
  right: 20px;
}

p-inputNumber, p-autoComplete {
  & > span, & > span > input {
    width: 100%;
  }
}

.p-togglebutton.p-button {
  &.p-button-danger {
    background: rgba(0, 0, 0, 0.6);
    border: 3px solid white !important;

    &:hover {
      background: #000 !important;
    }

    &:hover span, span {
      color: #EF4444 !important;
    }

    &.p-highlight {
      background: rgba(239, 68, 68, 0.8) !important;
      border-color: #000 !important;

      &.p-highlight:hover {
        background: #EF4444 !important;
      }

      span {
        color: #ffffff !important;
      }
    }
  }
}

.p-button.p-button-stack {
  padding: 0.4rem;
}

.p-inputtext.ng-touched.p-invalid,
p-autoComplete.ng-touched.ng-invalid input,
p-inputnumber.ng-touched.p-invalid input,
p-dropdown.ng-touched.p-invalid > div {
  border-color: #e97984;
}

.p-accordion-header-link {
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

.p-dropdown, .p-multiselect {
  width: 100%;
}

.p-datatable {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;

  .p-datatable-wrapper {
    height: 100%;

    .p-datatable-thead > tr > th {
      padding: 0.7rem 1rem;

      & > .p-button {
        display: flex;
      }
    }

    .p-datatable-tbody > tr > td {
      padding: 0.9rem 1rem;
      vertical-align: middle;
    }
  }

  .p-paginator-bottom {
    border-top: 1px solid #0b213f;
  }

  .p-highlight {
    background: #1E3149 !important;
  }

  &.p-datatable-hoverable-rows {
    .p-datatable-tbody > tr:not(.p-highlight):hover {
      .p-frozen-column {
        background: #141C27 !important;
      }
    }
  }
}

.p-tabview-nav {
  li {
    flex: 1;

    a {
      &:hover {
        text-decoration: none;
      }

      justify-content: center;
    }
  }
}

.loader {
  padding: 20px;
  text-align: center;

  i {
    font-size: 4rem;
  }
}

.tablet-showed {
  @media screen and (max-width: $tablet-breakpoint-width) {
    display: block;
  }
}

.mobile-hidden {
  @media screen and (max-width: $mobile-breakpoint-width) {
    display: none;
  }
}

.tablet-hidden {
  @media screen and (max-width: $tablet-breakpoint-width) {
    display: none;
  }
}

.hide-label-mobile {
  @media screen and (max-width: $tablet-breakpoint-width) {
    .p-button-label {
      display: none;
    }
    .p-button-icon-left {
      margin-right: 0;
    }
    .p-button-icon-right {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: $mobile-breakpoint-width) {
  .field-row.mobile-column {
    flex-direction: column !important;

    & > .flex-column {
      width: 100%;

      & > .p-float-label {
        margin-top: 10px;
      }
    }
  }
}

